### VisualStudioCode ###
.vscode/
.project
.settings/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

mongodb_*
/target/
/dist/
/template/etc/*
/restheart-platform-utils/target/
/platform-utils/target/
/mongo-realm-authenticator/target/
/jwt-auth-mechanism/target/
/mongo-acl-authorizer/target/
/proxy-connector/target/