### VisualStudioCode ###
.vscode/
.project
.settings/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

mongodb_*
platform-plugins/target/
/dist/
/template/etc/*
/restheart-platform-utils/target/
/platform-utils/target/
/mongo-realm-authenticator/target/
/jwt-auth-mechanism/target/
/mongo-acl-authorizer/target/
/proxy-connector/target/
/txns/target/
/change-streams/target/
/platform-plugins/change-streams/target/
/platform-plugins/jwt-auth-mechanism/target/
/platform-plugins/mongo-acl-authorizer/target/
/platform-plugins/mongo-realm-authenticator/target/
/platform-plugins/platform-utils/target/
/platform-plugins/txns/target/
