### VisualStudioCode ###
.vscode/
.project
.settings/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

mongodb_*
/target/
/dist/
/template/etc/*
/restheart-platform-utils/target/
