http -a 'admin@mover.io:testing' PUT localhost:8080/_schemas/user < user.schema
http -a 'admin@mover.io:testing' PUT localhost:8080/users rts:='[{"name":"emailUserFilter","phase":"REQUEST","scope":"CHILDREN","args":{"roles":["users"],"key":"email"}}]' checkers:='[{"name":"jsonSchema","args":{"schemaId":"user"}}]'
http -a 'admin@mover.io:testing' PUT localhost:8080/txlogs rts:='[{"name":"emailUserFilter","phase":"REQUEST","scope":"CHILDREN","args":{"roles":["users"],"key":"email"}}]'
http -a 'admin@mover.io:testing' PUT localhost:8080/migration rts:='[{"name":"emailUserFilter","phase":"REQUEST","scope":"CHILDREN","args":{"roles":["users"],"key":"email"}}]'
http -a 'admin@mover.io:testing' PUT localhost:8080/schedule rts:='[{"name":"emailUserFilter","phase":"REQUEST","scope":"CHILDREN","args":{"roles":["users"],"key":"email"}}]'
