# Service file for RESTHeart Security daemon
#
# Date: Oct 16, 2018
# Author: Andrea Di Cesare <andrea@softinstigate.com>

[Unit]
Description=RESTHeart Security Daemon
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/java -server -jar /usr/share/restheart/restheart-security.jar /etc/restheart-security.yml
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
