<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <conversionRule conversionWord="trace" class="org.restheart.utils.OptionalTraceConverter" />
    <conversionRule conversionWord="prefix" class="org.restheart.logging.LogPrefixConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %trace%prefix%msg%n%throwable{short}</pattern>
        </encoder>
    </appender>

    <root level="OFF">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
