# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build

on:
    push:
        branches: [master]
        tags:
            - '*'

jobs:
    build:
        if: "!contains(github.event.head_commit.message, 'skip ci')"
        runs-on: ubuntu-18.04
        timeout-minutes: 30
        steps:
            - uses: actions/checkout@v2
            - uses: actions/cache@v1.1.2
              with:
                  path: ~/.m2/repository
                  key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
                  restore-keys: |
                      ${{ runner.os }}-maven-

            - name: Set up JDK 11
              uses: actions/setup-java@v1
              with:
                  java-version: 11

            - name: Set the version
              id: vars
              run: echo "::set-output name=VERSION::$(echo ${GITHUB_REF:10})"

            - name: Print the version
              run: echo "VERSION=${{steps.vars.outputs.VERSION}}"

            - name: Build and test
              run: mvn -B clean install
              
            - uses: actions/checkout@master
            - uses: codecov/codecov-action@v1
              with:
                flags: unittests # optional
                name: restheart # optional
                fail_ci_if_error: true # optional (default = false)
                verbose: true # optional (default = false)

            - name: Push snapshot Docker image
              run: |
                  echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
                  docker build --file ./core/Dockerfile -t softinstigate/restheart:snapshot ./core/.
                  docker push softinstigate/restheart:snapshot

            - name: Push stable Docker image
              if: ${{ startsWith(github.ref, 'refs/tags/') }}
              run: |
                  docker tag softinstigate/restheart:snapshot softinstigate/restheart:latest
                  docker tag softinstigate/restheart:latest softinstigate/restheart:${{steps.vars.outputs.VERSION}}
                  docker push softinstigate/restheart:latest
                  docker push softinstigate/restheart:${{steps.vars.outputs.VERSION}}

            - name: Push distroless Docker image
              if: ${{ startsWith(github.ref, 'refs/tags/') }}
              run: |
                  docker build --file ./core/distroless.Dockerfile -t softinstigate/restheart:${{steps.vars.outputs.VERSION}}-distroless ./core/.
                  docker tag softinstigate/restheart:${{steps.vars.outputs.VERSION}}-distroless softinstigate/restheart:distroless
                  docker push softinstigate/restheart:${{steps.vars.outputs.VERSION}}-distroless
                  docker push softinstigate/restheart:distroless

            - name: Upload GitHub release
              if: ${{ startsWith(github.ref, 'refs/tags/') }}
              uses: softprops/action-gh-release@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  body: |
                      Release ${{ github.ref }}
                  files: |
                      core/target/restheart.tar.gz
                      core/target/restheart.zip
                      core/target/restheart.jar
                  draft: true
                  prerelease: false

            - name: Import private gpg key
              run: |
                  printf "%s" "$GPG_PRIVATE_KEY" > private.key
                  gpg --pinentry-mode=loopback --batch --yes --fast-import private.key
              env:
                  GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}

            - name: Deploy to Maven Central
              run: mvn -B deploy -Pdeploy -DskipTests -s settings.xml
              env:
                  OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
                  OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
                  GPG_KEY_NAME: ${{ secrets.GPG_KEY_NAME }}
                  GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
