name: Build pull requests

on:
    pull_request:
        branches: [master]

jobs:
    build:
        if: "!contains(github.event.head_commit.message, 'skip ci')"
        runs-on: ubuntu-18.04
        timeout-minutes: 10
        steps:
            - uses: actions/checkout@v2
            - uses: actions/cache@v1.1.2
              with:
                  path: ~/.m2/repository
                  key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
                  restore-keys: |
                      ${{ runner.os }}-maven-

            - name: Set up JDK 11
              uses: actions/setup-java@v1
              with:
                  java-version: 11

            - name: Build and test
              run: mvn -B clean verify
